In [ ]:
# creating a series from array
import numpy as np 
import pandas as pd

arr = np.random.randint(1,50,10)
s = pd.Series(arr)
s

In [ ]:
# We can create a Series in two ways:
# 1. Create an empty Series
# 2. Create a Series using inputs.

s = pd.Series()
print(type(s))
s

In [ ]:
# create series from array
a = np.array(['p','a','n','d','a','s'])
s = pd.Series(a)
s

In [ ]:
# create a series from dictionary
d = {
    1 : "one",
    2 : "two",
    3 : "three"
}
s = pd.Series(d)

In [ ]:
# create a series using scalar
s = pd.Series(['p','a','n','d','a','s'], index=[0,1,2,3,4,5])
s

In [ ]:
# Series Object Attributes
print("Defines the index of the Series. : ",s.index)
print("It returns a tuple of shape of the data. : ",s.shape)
print("It returns the data type of the data. : ",s.dtype)
print("It returns the size of the data. : ",s.size)
print("It returns True if Series object is empty, otherwise returns false. : ",s.empty)
print('It returns the number of dimensions in the data. :',s.ndim)
print("items of Series : ",s.items)
print("It returns True if there are any NaN values, otherwise returns false. : ",s.hasnans)
print("It returns the number of bytes in the data. : ",s.nbytes)

In [ ]:
# We can create a DataFrame using following ways:
#  dict
#  Lists
#  Numpy ndarrrays
#  Series

# Create an empty DataFrame
df = pd.DataFrame()
print(df)

In [ ]:
# Create a DataFrame using List:
l = ['Python','Pandas']
df = pd.DataFrame(l)
df

In [ ]:
# Create a DataFrame from Dict of ndarrays / Lists
di = {
    'Id' : [101,102,103,104],
    'Department' : ['Bsc','BCA', 'B.Tech', 'BBA']
}
df = pd.DataFrame(di)
df

In [ ]:
# Create a DataFrame from Dict of Series:
info = {'one' : pd.Series(data=[1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
 'two' : pd.Series(data=[1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}

d1 = pd.DataFrame(info)
print (d1)

In [ ]:
# Column Selection
di = {
    'one' : pd.Series(data=['j','o','y'],index=[0,1,2]),
    'two' : pd.Series(data=['r','o','y'],index=[0,1,2])
}
df = pd.DataFrame(di)
print(df['two'])

In [ ]:
# Column Addition
di = {
    'one' : pd.Series(data=['j','o','y'],index=[0,1,2])
}
df = pd.DataFrame(di)
df['two'] = pd.Series(data=['r','o','y'],index=[0,1,2])
df

In [ ]:
# Column Deletion
di = {
    'Id' : [101,102,103,104],
    'Department' : ['Bsc','BCA', 'B.Tech', 'BBA']
}
df = pd.DataFrame(di)
del di['Id']                                                
print(di)

In [ ]:
# Row Selection
di = {
    'Id' : [101,102,103,104],
    'Department' : ['BSC','BCA', 'B.Tech', 'BBA']
}
df = pd.DataFrame(di)

print(df.iloc[1])

In [ ]:
# row deletion
a_info = pd.DataFrame([[4, 5], [6, 7]], columns = ['x','y'])
b_info = pd.DataFrame([[8, 9], [10, 11]], columns = ['x','y'])
# a_info = a_info.append(b_info)
a_info = a_info.drop(0)
print(a_info)

In [ ]:
# Pandas DataFrame.append()

import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Append df2 to df1
# result = df1.append(df2, ignore_index=True)

# print(result)

# Updated Approach with concat:

import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate df1 and df2
result = pd.concat([df1, df2], ignore_index=True)

print(result)

In [ ]:
# how to import excel and csv file 
import pandas as pd
titanic = pd.read_csv('titanic.csv')
titanic

In [ ]:
# Head method is used for filtering starting rows, bydefault it returns 5 rows, and maximum 60 rows
titanic = titanic.head(10)
titanic

In [ ]:
# Tail method is used for filtering last rows.
titanic.tail()

In [ ]:
titanic.describe()
titanic.info()

In [ ]:
# How to access all column
df = titanic
df.columns

In [ ]:
# How to drop columns
df = df.drop(columns=['survived', 'pclass', 'sibsp', 'parch', 
       'embarked', 'who', 'adult_male', 'deck',
       'alive', 'alone'])

In [ ]:
# How to add new column
df['age_twice'] = df['age']*2
df

In [ ]:
# How to rename column
df.rename(columns={'sex':'gender'},inplace=True)
df

In [ ]:
# Statical Functions in Pandas

# mean(average)
print(df.fare.mean())

# median
print(df.fare.median())

# mode
print(df.gender.mode())

# max
print(df.fare.max())

# min
print(df.fare.min())

# sum
print(df.fare.sum())

# count
print(df.fare.count())

# values_count
print(df.gender.value_counts())

# unique
print(df.gender.unique())

In [ ]:
# Sorting (sort values, sort index)
df['age'].sort_values()
df['age'].sort_index()

In [ ]:
# How to find null values
df = pd.read_clipboard()
df.isna().sum()
df.isna().mean()
df.info()

In [ ]:
# How to drop all null values
df.dropna(how='all')
df.dropna(thresh=4,axis=0,ignore_index=True)
df

In [ ]:
# How to fill null values
df.Salary.mean()
df['Salary'].fillna(54666.666666666664,inplace=True)
df['Salary']

In [ ]:
# How to fill up and down
df['Department'].fillna(method='ffill', inplace=True)
df['LastName'].fillna(method='bfill', inplace=True)

In [ ]:
# how to find duplicates and drop all duplicates
df = pd.read_clipboard()
df.duplicated()
df.drop_duplicates()
df

In [ ]:
# How to replace value
df['Salary'].replace({60000.0:50000.0},inplace=True,limit=1)
df

In [ ]:
# Apply method in pandas

# how to convert column into upper case
df['FirstName'] = df['FirstName'].apply(func=str.upper)
df['LastName2'] = df['LastName'].apply(func=str.upper)
df

In [ ]:
info = pd.DataFrame([[2, 7]] * 4, columns=['P', 'Q'])
info.apply(np.sqrt)
info.apply(np.sum, axis=0)
info.apply(np.sum, axis=1)
info.apply(lambda x: [1, 2], axis=1)
info.apply(lambda x: [1, 2], axis=1, result_type='expand')
info.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

In [ ]:
import pandas as pd 
df = pd.read_csv('titanic.csv')
df = df.head(10)
df.drop(columns=['survived', 'pclass', 'sibsp', 'parch',
       'embarked','who', 'adult_male', 'deck',
       'alive', 'alone'],inplace=True)

def age_classification(age):
    if age < 18:
        return 'Child'
    elif age < 50:
        return 'Adult'
    else:
        return 'Senior Cititzen'
df['age_category'] = df['age'].apply(func=age_classification)   

df

In [ ]:
# Pivot Table 
df.pivot_table(index='sex', aggfunc={'fare':'sum'})
df.pivot_table(index=['age_category','class'], aggfunc={'fare':'sum'})
df.pivot_table(index=['embark_town','sex'],aggfunc={'fare':'sum','age':'mean'})

In [ ]:
# filtering in pandas
con = df[(df['embark_town'] == 'Southampton') & (df['age'] >= 25)]
con

In [ ]:
# How to change datatype in pandas
df['age'] = df['age'].astype(object)
df.info()

In [ ]:
# Joins in  Pandas
emp = pd.read_clipboard()
emp

In [ ]:
salaries = pd.read_clipboard()
salaries

In [ ]:
emp.merge(salaries)

In [ ]:
# left Join
emp.merge(salaries,how='left')

In [ ]:
#right join
emp.merge(salaries,how='right')

In [ ]:
#inner join
emp.merge(salaries,how='inner')

In [ ]:
#outer join
emp.merge(salaries,how='outer')

In [ ]:
# cross join
emp.merge(salaries,how='cross')

In [ ]:
# How to extract day, month, year in the date
emp = pd.read_clipboard()

emp['DOB'] = pd.to_datetime(emp['DOB'])

emp['Day'] = emp['DOB'].dt.day
emp['Month'] = emp['DOB'].dt.month
emp['Year'] = emp['DOB'].dt.year
emp